{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-[#0c0c0c]">
  <div class="max-w-md w-full space-y-8">
    <div>
      <!-- Updated text styling -->
      <h2 class="mt-6 text-center text-white text-3xl font-poppins">
        <span class="font-normal">login to</span>
        <img src="{% static '../media/logo.png' %}" alt="Logo" class="inline-block h-10" /> <!-- Adjust h-10 to change logo size -->
      </h2>    
    </div>
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="space-y-4">
        <!-- Username Input -->
      <div class="flex justify-center">
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" required
              class="block w-auto px-3 py-2 text-center border-none placeholder-gray-500 text-white bg-transparent rounded-[15px] outline outline-[2px] outline-gray-250 focus:outline-white focus:outline-[2px] focus:outline-offset-0 focus:ring-0 focus:bg-opacity-100 focus:placeholder-opacity-100 text-opacity-20 transition duration-200 ease-in-out shadow-lg focus:text-opacity-100 focus:shadow-[0px_0px_10px_5px_rgba(255,255,255,0.4)]"
              placeholder="Username" oninput="toggleInputColor(this)">
      </div>
        <!-- Password Input -->
      <div class="flex justify-center">
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required
              class="block w-auto px-3 py-2 text-center border-none placeholder-gray-500 text-white bg-transparent rounded-[15px] outline outline-[2px] outline-gray-250 focus:outline-white focus:outline-[2px] focus:outline-offset-0 focus:ring-0 focus:bg-opacity-100 focus:placeholder-opacity-100 text-opacity-20 transition duration-200 ease-in-out shadow-lg focus:text-opacity-100 focus:shadow-[0px_0px_10px_5px_rgba(255,255,255,0.4)]"
              placeholder="Password" oninput="toggleInputColor(this)">
      </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center">
        <button type="submit"
        class="w-auto flex justify-center py-2 px-4 text-sm font-medium rounded-[15px] text-black bg-white hover:bg-gray-200 focus:outline-none focus:ring-0 transition duration-200 ease-in-out
        hover:shadow-[0px_0px_15px_5px_rgba(255,255,255,0.4)] active:animate-button-press">
          login
        </button>
      </div>
    </form>

    <div class="text-center mt-4">
      <p class="text-sm text-white">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-[#05c000] hover:text-[#06ff00]">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>

<script>
  function toggleInputColor(input) {
      if (input.value) {
          input.classList.add('text-opacity-100'); // Text is fully visible
      } else {
          input.classList.remove('text-opacity-100'); // Text opacity back to normal
      }
  }
</script>

{% endblock content %}
